{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>吧台系统</title>
        <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{% static 'custom.css' %}" media="screen" title="no title" charset="utf-8">
    </head>
    <body>

        <div class="ui vertical basic segment masthead">
            <div class="ui inverted text menu">
                <div class="ui inverted white huge header">
                    BASHION
                </div>

                <div class="right menu">
                  {% if request.user.is_authenticated %}
                    <div class="item">
                        <h5 class="ui inverted header">
                                <div class="ui avatar image">
                                    <img src="{% static 'images/default.png' %}" alt="">
                                </div>

                                <span>{{request.user.username}}</span>

                            </h5>
                    </div>
                    <div class="item">
                        <a href=" {% url 'logout' %} " class="ui inverted circular button">Logout</a>
                    </div>
                  {% else %}
                    <div class="item">
                        <h5 class="ui inverted header">
                                <div class="ui avatar image">
                                    <img src="{% static 'images/default.png' %}" alt="">
                                </div>

                                <span>username</span>

                            </h5>
                    </div>
                    <div class="item">
                        <a href="{% url 'login' %}" class="ui inverted circular button">login/register</a>
                    </div>
                  {% endif %}
                </div>
            </div>

            <h1 class="ui inverted center aligned header slogan">
                BASHION
                <p class="inverted sub header">
                    WELCOME
                </p>
                {% if request.user.is_authenticated %}
                <div class="ui buttons">
                  <a href="{% url 'reserve_website' %}" type="button" name="button" class="ui red circular button" value="">预定房间</a>
                  <div class="or"></div>
                  <a href="{% url 'search_website' %}" type="button" name="button" class="ui red circular button" value="">房间价格查询</a>
                </div>
                {% else %}
                  <a href="{% url 'login' %}" style='width:220px' type="button" name="button" class="ui red circular button" value="">注册一个</a>
                {% endif %}
            </h1>
        </div>

        <div class="ui vertical  very padded red segment">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui image">
                      <div class="ui huge header">
                        BASHION
                      </div>

                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui vertical  text menu">
                        <div class="item">
                            <h3 class="ui  header">Company</h3>
                        </div>

                        <div class="item">
                            Address : CN
                        </div>

                        <div class="item">
                            Tel : 010-66666
                        </div>

                        <div class="item">
                            Fax : 010-66666
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui vertical  text menu">
                        <div class="item">
                            <h3 class="ui  header">Company</h3>
                        </div>

                        <div class="item">
                            Address : CN
                        </div>

                        <div class="item">
                            Tel : 010-66666
                        </div>

                        <div class="item">
                            Fax : 010-66666
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui vertical  text menu">
                        <div class="item">
                            Designed by
                        </div>
                        <div class="item">
                            <h3 class="ui header logo">BASHION Company</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
