{% extends "admin/change_list.html" %}
{% block extrahead %}
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        var sendAjaxRequest = function (method, action, data, success, error) {
            var url = action;
            $.ajax({
                type: method,
                url: url,
                cache: false,
                data: data,
                success: success,
                error: error
            });
        };

        (function ($) {
            $(document).ready(function ($) {
                    var today_money_set = function (result) {
                        var res = eval(result);
                        document.getElementById('today').disabled=false;
                        $('#today').val(res.fee);
                        document.getElementById('today').disabled=true;
                    };
                    var month_money_set = function (result) {
                        var res = eval(result);
                        document.getElementById('current_month').disabled=false;
                        $('#current_month').val(res.fee);
                        document.getElementById('current_month').disabled=true;
                    };
                    var error = function () {
                        alert("网络异常");
                    };
                    sendAjaxRequest('GET', '/root/money/today',{}, today_money_set, error);
                    sendAjaxRequest('GET', '/root/money/month',{}, month_money_set, error);
            });
        })(jQuery);
    </script>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/admin/">返回</a>
    </div>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>当日营业额：</td>
            <td><input id="today"/></td>
        </tr>
        <tr>
            <td>当月营业额：</td>
            <td><input id="current_month"/></td>
        </tr>
    </table>
    {{ block.super }}
    {% if has_view_permission and not has_change_permission %}
        <script>
        jQuery('input').attr('readonly', 'readonly');
        jQuery('textarea').attr('readonly', 'readonly');
        jQuery('input:checkbox').attr('disabled', true);
        jQuery('select').attr('disabled', true);
        jQuery('.add-another').hide();
        jQuery('input:submit').attr('disabled', true);
        jQuery('button').attr('disabled', true);
    {% endif %}
</script>
{% endblock %}
